* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: black !important;
    color: white;
}
.nav {
    overflow: hidden;
    background-color: transparent !important;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background: none !important;
}
.navbar-brand {
    font-family: 'Raleway', sans-serif;
}   
.svg {
    width: 30px;
    height: 30px;
}
.container-fluid {
    padding: 0 !important;
}
.quienes-somos {
    color: white;
    background-color: black;
}
.icono-avion {
    text-align: center;
    color: white;
    background-color: #00cbf2;
    margin-bottom: 10px;
}
.icono-montana {
    text-align: center;
    color: white;
    background-color: #00cbf2;
    margin-top: 10px;
    margin-bottom: 50px;
}
.icono-ruta {
    text-align: center;
    color: white;
    background-color: #00cbf2;
    margin-bottom: 10px;
}
.container .tarjetas {
    background-color: black !important;
}
.tarjetas {
    color: white;
    background-color: black;
}
.card-body {
    text-align: left;
    color: white !important;
    background-color: #00cbf2;
}
.contacto h1 {
    color: white !important;
}
.contacto .form-label {
    color: white !important;
}
.btn-primary {
    background-color: #00cbf2 !important;
}
footer {
    background-color: #00cbf2 !important;
}
footer h1 {
    font-size: 18px;
}
footer a {
    color: white !important;
}